



<!--==========================
INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about  md-padding" style="height: 280px">
    <h1 class="text-white text-center " style="position: absolute;bottom: 0;left:30%;" >Admin Posts</h1>
</section>

<!--==========================
ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding" style="height: 500px">
    <div class="container">
        <div class="row">

            <!-- GET CATEGORIES-->
            <div class="col-md-12">
                <table class="table  table-bordered border-primary text-dark" style="font-size: 14px;">
                    <thead>
                    <tr>
                        <th scope="col" class="bg-secondary text-white">TITLE</th>
                        <th scope="col" class="bg-secondary text-white">CATEGORY NAME </th>
                        <th scope="col" class="bg-secondary text-white">USER</th>
                        <th scope="col" class="bg-secondary text-white">DELETE</th>
                        <th scope="col" class="bg-secondary text-white">EDIT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each posts }}

                        <tr>
                            <td >{{title}}</td>
                            <td>
                                <a href="/posts/category/{{category._id}}">
                                      <span style="font-weight: bolder">
                                          {{category.name}}
                                      </span>
                                </a>


                            </td>

                            <td>
                                <span style="font-weight: bolder">
                                  {{siteUser.username}}

                                </span>
                            </td>

                            <td>
                                <form action="/admin/posts/{{id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                                
                            </td>

                            <td>

                               <a href="/admin/posts/edit/{{id}}" class="btn text-white btn-warning">
                                   Edit
                                </a>
                                
                            </td>

                        </tr>
                    {{/each}}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>


<footer >

</footer>
