<aside id="aside" class="col-md-4">

    <div class="widget">
        <div class="widget-search">
            <input class="search-input form-control" type="text" placeholder="Search">
            <button class="search-btn" type="button"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <!-- /Search -->


    <div class="widget">
        <h3 class="mb-3">Category</h3>
        {{#each categories }}
            <div class="widget-category">
                <a href="/posts/category/{{_id}}">{{name}}

                    <span class="badge badge-pill badge-primary text-white" style="font-weight: bolder">{{num_of_posts}}</span>
                </a>

            </div>

        {{/each}}
    </div>

    <!-- Posts sidebar -->
    <div class="widget">
        <h3 class="mb-3">Latest Posts</h3>

      {{#each (limit posts 3) }}
        <div class="widget-post">
            <a href="/posts/detail/{{_id}}">
                <img class="img-fluid" src="{{post_image}}" alt="">
                {{title}}
            </a>
            <ul class="blog-meta">
                <li>{{generateDate  date 'MMM DD YYYY'}}</li>
            </ul>
        </div>
     {{/each}}

    </div>
    <!-- /Posts sidebar -->

</aside>

